.input__text {
    outline: none;
    padding: 10px;
    color: #18191a;
    border-radius: 10px;
    border: 1px solid purple;

}

.input__date {
    outline: none;
    padding: 10px;
    color: #18191a;
    border-radius: 10px;
    border: 1px solid purple;

}